
@model Denuncia.Presentacion.MVC.Web.Models.TipoDenunciaModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">
        @if (Model.EsNuevo)
        { <text>Nuevo Tipo</text>}
        else
        {
            <text>Editar Tipo</text>
        }
    </h4>
</div>
@using (Html.BeginForm(Model.EsNuevo ? "Crear" : "Modificar", "MantencionTipoDenuncia", FormMethod.Post, new { @id = "formTipoDenuncia", @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
{
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control input-sm", @maxlength = "50" })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-3" for="Estado">Activar Estado</label>
                    <div class="col-md-6">
                        <input id="switchEstado" name="switchEstado" class="make-switch" type="checkbox" @if (Model.EsNuevo) { <text> disabled checked </text>  } else if (Model.Estado) { <text> checked </text> } data-on-text="Si" data-off-text="No" data-size="small" data-toggle="toggle">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Incognito, new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        <input id="switchAnonimo" name="switchAnonimo" class="make-switch" type="checkbox" @if (Model.Incognito) { <text>checked</text> } data-on-text="Si" data-off-text="No" data-size="small" data-toggle="toggle">
                    </div>
                </div>
            </div>
        </div>

    </div>
    @Html.HiddenFor(model => model.EsNuevo)
    if (!Model.EsNuevo)
    {
        @Html.HiddenFor(model => model.IdTipoDenuncia)
    }
    <div class="modal-footer">
        <button type="button" class="btn btn-circle dark btn-outline" data-dismiss="modal">Cerrar</button>
        <button id="btnGuardar" class="btn btn-circle green" type="button"><i class="fa fa-save"></i> Guardar</button>
    </div>
}
