@model List<Denuncia.Presentacion.MVC.Web.Models.SubCategoriaModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Metronic.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <span class="caption-subject bold uppercase"> Mantenedor de Subcategor&iacute;as</span>
                </div>
                <div class="tools">
                    <a href="" class="fullscreen" data-original-title="" title=""> </a>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-circle default btn-sm" href="@Url.Action("Nuevo", "MantencionSubCategoria")" data-toggle="modal" data-target="#ModalSubCategoria">
                            <i class="fa fa-plus"></i> Nuevo
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover table-bordered" id="datatable_SubCategoria">
                            <thead>
                                <tr>
                                    <th>SubCategoria</th>
                                    <th>Estado</th>
                                    <th>Categoría</th>
                                    <th>Nombre</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.IdSubCategoria)</td>
                                        <td>
                                            @if (item.Estado)
                                            {<span class='label label-sm label-success'>@item.NombreEstado</span>}
                                            else
                                            {<span class='label label-sm label-danger'>@item.NombreEstado</span>}
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.NombreCategoria)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                        <td>
                                            <a id="Editar" class="btn btn-xs purple" href="@Url.Action("Editar", "MantencionSubCategoria", new { idSubCategoria= item.IdSubCategoria})" data-toggle="modal" data-target="#ModalSubCategoria"><i class="fa fa-edit"></i> Editar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalSubCategoria" class="modal fade in" tabindex="-1" data-replace="true" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/MantencionSubCategoria/script")
    <script>
        $(document).ready(function () {
            MantencionSubCategoria.Init();
        });
    </script>
    @if (TempData["msg"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                var msg = "@Html.AttributeEncode(TempData["msg"])";
                toastr["success"](msg, "SAG-Denuncia FitoSanitaria");
            });
        </script>
    }
}

