@model Denuncia.Presentacion.MVC.Web.Models.SolicitudDenunciaViewModel
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">Resultado</div>
                <div class="tools">
                    <a href="" class="fullscreen" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover table-bordered table-condensed" id="datatable_Denuncias">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Categoría</th>
                                    <th>Sub-Categoría</th>
                                    <th>E-Mail</th>
                                    <th>Teléfono</th>
                                    <th>Fecha Envío</th>
                                    <th>Acción</th>
                                    @*Columnas ocultas para busqueda*@
                                    <th>Descripcion</th>
                                    <th>Comentarios</th>
                                    <th>IdDenuncia</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model.ListaDenunciasInforme)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.TipoDenuncia)</td>
                                        @if (item.DenunciaRapida)
                                        {
                                            <td>Denuncia R&aacute;pida</td>
                                            <td>Denuncia R&aacute;pida</td>
                                        }
                                        else
                                        {
                                            <td>@Html.DisplayFor(modelItem => item.Categoria)</td>
                                            <td>@Html.DisplayFor(modelItem => item.SubCategoria)</td>
                                        }
                                        <td>@Html.DisplayFor(modelItem => item.CorreoContacto)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TelefonoContacto)</td>
                                        <td>@Html.DisplayFor(modelItem => item.FechaEnvio)</td>
                                        <td>
                                            <a id="Ver" class="btn btn-xs green" href="@Url.Action("VerDenuncia", "SolicitudDenuncia", new { idDenuncia = item.IdDenuncia, Denuncia = item.TipoDenuncia})" data-toggle="modal" data-target="#ModalDenuncia"><i class="fa fa-eye"></i> Ver</a>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Comentario)</td>
                                        <td>@Html.DisplayFor(modelItem => item.IdDenuncia)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>