@model List<Denuncia.Presentacion.MVC.Web.Models.UsuarioModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Metronic.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <span class="caption-subject bold uppercase">Mantenedor de Usuarios</span>
                </div>
                <div class="tools">
                    <a href="" class="fullscreen" data-original-title="" title=""> </a>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-circle default btn-sm" href="@Url.Action("Nuevo", "MantencionUsuario")" data-toggle="modal" data-target="#ModalUsuario">
                            <i class="fa fa-plus"></i> Nuevo
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover table-bordered" id="datatable_Usuario">
                            <thead>
                                <tr>
                                    <th>Id Usuario</th>
                                    <th>E-Mail</th>
                                    <th>Rol</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.IdUsuario)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Rol)</td>
                                        <td>
                                            <a id="Editar" class="btn btn-xs purple" href="@Url.Action("Editar", "MantencionUsuario", new { idUsuario = item.IdUsuario })" data-toggle="modal" data-target="#ModalUsuario"><i class="fa fa-edit"></i> Editar</a>
                                            <a id="Eliminar" class="btn btn-xs red"><i class="fa fa-trash-o"></i> Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalUsuario" class="modal fade in" tabindex="-1" data-replace="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/MantencionUsuario/script")
    <script>
        $(document).ready(function () {
            MantencionUsuario.Init();
        });
    </script>
    @if (TempData["msg"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                var msg = "@Html.AttributeEncode(TempData["msg"])";
                toastr["success"](msg, "SAG-Denuncia FitoSanitaria");
            });
        </script>
    }
}

